.test-letter {
  /* font-weight: 800; */
  font-size: 19px;
  line-height: 19px;
}

.test-letter-not-attempted {
  color: #0a0908;
}

.test-letter-incorrect {
  color: #bf360c;
}

.test-letter-correct {
  color: #558b2f;
}
