.test-letter {
  font-size: 20px;
  line-height: 20px;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Roboto Mono',monospace;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 15px;
}

.test-letter-not-attempted {
  color: #0a0908;
}

.test-letter-incorrect {
  color: #bf360c;
}

.test-letter-correct {
  color: #558b2f;
}