.nav-container {
    display: flex;
    height: 72px;
    align-items: center;
    background: #0a3131;
    margin: 0;
    justify-content: space-between;
    z-index: 99;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-right: 40px;
}

.nav-sg-link {
    font-size: 25px;
    color: #eeeeee;
    font-weight: 800;
    text-decoration: none;
}

.img-logo {
    margin-left: 20px;
    height: 40px;
}

.flash-logo-text {
    font-family: "Bangers", cursive;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0 10px;
    color: #eeeeee;
    text-decoration: none;
}