.footer-container {
    display: flex;
    justify-content: center;
    background: #155152;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
    z-index: 99;
    /* align-items: flex-end; */
}

.footer-link {
    font-size: 26px;
    color: #e05734;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    /* height: 100%; */
    /* display: flex;
    justify-content: center; */
    /* align-items: flex-end; */
    /* position: fixed; */
}

.footer-link:hover {
    color: #ffffff;
}